#choropleth {
    font-family: 'Bookman Old Style', Arial;
    width: 1160px;
    height: 630px;
    color: black;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

#choropleth #title {
    width: 960px;
    height: 30px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    background: rgb(230, 215, 51);
    margin: auto;
}

#choropleth #page {
    width: 960px;
    height: 600px;
    background: rgb(230, 215, 51);
    margin: auto;
}

#choropleth #tooltip {
    display: none;
    position: absolute;
    z-index: 1; /* needed to display above fixed navbar */
    opacity: 0;
    pointer-events: none;
    width: 230px;
    background: rgb(237, 226, 109);
    padding: 10px;
    border-radius: 10px;
}